<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <title></title>
    </head>

    <body>
        <div class="page-home">
            <div class="home-div">
                <div class="home-content">
                    <div class="home-top">
                        <div class="top-top">
                            <div class="top-left">
                                <ul>
                                    <li>
                                        hi,欢迎来到壹零客
                                    </li>
                                    <li>
                                        请登录
                                    </li>
                                    <li>
                                        免费注册
                                    </li>
                                    <li>
                                        我的壹零客
                                    </li>
                                </ul>
                            </div>
                            <div class="top-center">
                                <img src="/images/logo-main-size.png" />
                            </div>
                            <div class="top-right">
                                <div class="top-search">
                                    <input type="text" name="search" placeholder="搜索" />
                                    <img src="/images/search.png" />
                                </div>
                                <div class="top-gwc">
                                    <img src="/images/Shape.png">
                                    <div class="label">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="top-list">
                            <ul>
                                <li class="purple">
                                    <a href="#">首页</a>
                                </li>
                                <li>
                                    <a href="#">数码电子</a>
                                </li>
                                <li>
                                    <a href="#">母婴玩具</a>
                                </li>
                                <li>
                                    <a href="#">珠宝配饰</a>
                                </li>
                                <li>
                                    <a href="#">运动户外</a>
                                </li>
                                <li>
                                    <a href="#">生活服务</a>
                                </li>
                                <li>
                                    <a href="#">家居家装</a>
                                </li>
                                <li>
                                    <a href="#">女士服装</a>
                                </li>
                                <li>
                                    <a href="#">男士服装</a>
                                </li>
                                <li>
                                    <a href="#">家电办公</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="home-center">
                        <!--轮播 登录-->
                        <div class="home-shuffling">
                            <div class="shuffling-left">
                                <div class="images-list">
                                    <ul>
                                        <li style="display: block;">
                                            <img src="/images/slider.png">
                                        </li>
                                        <li>
                                            <img src="/images/slider1.jpg">
                                        </li>
                                        <li>
                                            <img src="/images/slider2.jpg">
                                        </li>
                                    </ul>
                                    <div class="loca-left">
                                        <img src="/images/Path-left.png" />
                                    </div>
                                    <div class="loca-right">
                                        <img src="/images/Path-right.png">
                                    </div>
                                </div>
                            </div>
                            <div class="login-right">
                                <div class="login-discount">
                                    <img src="/images/tejia.png">
                                </div>
                                <div class="login-content">
                                    <div class="login-top">
                                        <div class="login-top-left">
                                            <img src="/images/Group.png">
                                        </div>
                                        <div class="login-top-right">
                                            <div class="login-top-right-hi">Hi,上午好</div>
                                            <div class="login-top-right-msg">欢迎来到 壹零客批发平台</div>
                                        </div>
                                    </div>
                                    <div class="login-bot">
                                        <div class="login-bot-left">
                                            <img src="/images/headimg.png">
                                            <div>登录</div>
                                        </div>
                                        <div class="login-bot-right">
                                            <img src="/images/register.png">
                                            <div>免费注册</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--今日精选-->
                        <div class="home-todayselection">
                            <div class="todayselection-title">
                                <div class="todayselection-title-div">
                                    <div class="todayselection-title-img">
                                        <img src="/images/todayselection.png">
                                    </div> 
                                    <div class="todayselection-title-text">今日精选</div>
                                </div>
                            </div>
                            <div class="todayselection-list">
                                <ul>
                                    <li class="todayselection-li">
                                        <ul>
                                            <li>JAVA</li>
                                            <li>PHP</li>
                                            <li>JAVASCRIPTS</li>
                                            <li>NODEJS</li>
                                            <li>ORACLE</li>
                                            <li>MYSQL</li>
                                            <li>HTML/CSS</li>
                                        </ul>
                                    </li>
                                    <li class="todayselection-li">
                                        <ul>
                                            <li>JAVA</li>
                                            <li>PHP</li>
                                            <li>JAVASCRIPTS</li>
                                            <li>NODEJS</li>
                                            <li>ORACLE</li>
                                            <li>MYSQL</li>
                                            <li>HTML/CSS</li>
                                        </ul>
                                    </li>
                                    <li class="todayselection-li">
                                        <ul>
                                            <li>JAVA</li>
                                            <li>PHP</li>
                                            <li>JAVASCRIPTS</li>
                                            <li>NODEJS</li>
                                            <li>ORACLE</li>
                                            <li>MYSQL</li>
                                            <li>HTML/CSS</li>
                                        </ul>
                                    </li>
                                    <li class="todayselection-li">
                                        <ul>
                                            <li>JAVA</li>
                                            <li>PHP</li>
                                            <li>JAVASCRIPTS</li>
                                            <li>NODEJS</li>
                                            <li>ORACLE</li>
                                            <li>MYSQL</li>
                                            <li>HTML/CSS</li>
                                        </ul>
                                    </li>
                                    <li class="todayselection-li">
                                        <ul>
                                            <li>JAVA</li>
                                            <li>PHP</li>
                                            <li>JAVASCRIPTS</li>
                                            <li>NODEJS</li>
                                            <li>ORACLE</li>
                                            <li>MYSQL</li>
                                            <li>HTML/CSS</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="todayselection-product">
                                <div class="product-first">
                                    <div class="product-first-img">
                                        <img src="/images/product-first.png">
                                    </div>
                                    <div>
                                        <div class="product-first-name">英顿（inton）多媒体笔记本台式电脑音箱 2.1木质低音炮小音响 黑色</div>
                                        <div class="product-first-price">¥128.00</div>
                                    </div>
                                </div>
                                <div class="product-list">
                                    <ul>
                                        <li>
                                            <div class="prduct-list-img">
                                                <img src="/images/product-list.png">
                                            </div>
                                            <div class="prduct-list-text">
                                                <div class="product-list-name">时刻美(skmei)超薄手表</div>
                                                <div class="product-list-price">￥198.00</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="prduct-list-img">
                                                <img src="/images/product-list.png">
                                            </div>
                                            <div class="prduct-list-text">
                                                <div class="product-list-name">时刻美(skmei)超薄手表</div>
                                                <div class="product-list-price">￥198.00</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="prduct-list-img">
                                                <img src="/images/product-list.png">
                                            </div>
                                            <div class="prduct-list-text">
                                                <div class="product-list-name">时刻美(skmei)超薄手表</div>
                                                <div class="product-list-price">￥198.00</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="prduct-list-img">
                                                <img src="/images/product-list.png">
                                            </div>
                                            <div class="prduct-list-text">
                                                <div class="product-list-name">时刻美(skmei)超薄手表</div>
                                                <div class="product-list-price">￥198.00</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="prduct-list-img">
                                                <img src="/images/product-list.png">
                                            </div>
                                            <div class="prduct-list-text">
                                                <div class="product-list-name">时刻美(skmei)超薄手表</div>
                                                <div class="product-list-price">￥198.00</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="prduct-list-img">
                                                <img src="/images/product-list.png">
                                            </div>
                                            <div class="prduct-list-text">
                                                <div class="product-list-name">时刻美(skmei)超薄手表</div>
                                                <div class="product-list-price">￥198.00</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-first">
                                    <div class="product-first-img">
                                        <img src="/images/product-last.png">
                                    </div>
                                    <div>
                                        <div class="product-first-name">英顿（inton）多媒体笔记本台式电脑音箱 2.1木质低音炮小音响 黑色</div>
                                        <div class="product-first-price">¥128.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 新品发布 -->
                        <div class="home-productrelease">
                            <div class="todayselection-title">
                                <div class="todayselection-title-div">
                                    <div class="todayselection-title-img">
                                        <img src="/images/newproduct.png">
                                    </div> 
                                    <div class="todayselection-title-text">新品发布</div>
                                </div>
                            </div>
                            <div class="new-product-img">
                                <div>
                                    <img src="/images/2016chun.png" />
                                </div>
                                <div>
                                    <img src="/images/2016qiu.png" />
                                </div>
                            </div>
                        </div>
                        <!-- 热门商品 -->
                        <div class="home-hotcommodity">
                            <div class="todayselection-title">
                                <div class="todayselection-title-div">
                                    <div class="todayselection-title-img">
                                        <img src="/images/hotcon.png">
                                    </div> 
                                    <div class="todayselection-title-text">热门商品</div>
                                </div>
                            </div>
                            <div class="hotcommodity-list">
                                <ul>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-product">
                                            <div class="hot-product-img">
                                                <img src="/images/hot-product.png">
                                            </div>
                                            <div class="hot-product-text">
                                                <div class="hot-product-name">
                                                    春低帮白色帆布鞋女鞋子韩版休闲平底板鞋女学生系带球鞋琴女单鞋
                                                </div>
                                                <div class="hot-product-price">￥19.99</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://www.w3school.com.cn/jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/home/home.js"></script>
    </body>
</html>


